
<nav class="navbar" th:fragment="entete">
	<a href="/" class="logo"><img th:src="@{/img/logoEnchere2.webp}" alt="Logo ENI-Encheres" />ENI-Encheres</a>

	<ul>
	<div>
	</div>
		<li><a th:href="@{/encheres}">Enchères</a></li>
		<li><a sec:authorize="isAuthenticated()" th:href="@{/article/creer}">Vendre un article</a></li>
		<li><a sec:authorize="isAuthenticated()" th:href="@{/utilisateur}">Mon profil</a></li>
		<li><a sec:authorize="!isAuthenticated()" th:href="@{/utilisateur/signin}">S'inscrire</a></li>
		<li><a sec:authorize="!isAuthenticated()" th:href="@{/login}">Se connecter</a></li>
		<li><a sec:authorize="isAuthenticated()" th:href="@{/logout}">Déconnexion</a></li>
		</ul>
</nav> 