@charset "UTF-8";

form {
	background-color: #f2f2f2;
}

form h1 {
	margin: 15px;
}

.flex-outer li {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: 5px;
}

.flex-outer>li>label {
	flex: 1 0 120px;
	max-width: 220px;
}

.flex-outer>li>label+* {
	flex: 1 0 220px;
}

.flex-outer li button {
	margin-left: auto;
	margin-bottom: 5px; padding : 8px 16px;
	border: none;
	background: #333;
	color: #f2f2f2;
	text-transform: uppercase;
	letter-spacing: .09em;
	border-radius: 2px;
	padding: 8px 16px
}

/* Navbar avec Flexbox */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 20px;
            background-color: #c0c0c0;
            color: white;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .navbar .logo {
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: white;
        }
        .navbar ul {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .navbar ul li {
            margin: 0 15px;
        }
        .navbar ul li a {
            text-decoration: none;
            color: white;
            font-size: 16px;
            transition: color 0.3s;
        }
        .navbar ul li a:hover {
            color: #d1e7fd;
        }