@charset "UTF-8";

/* Structure du formulaire */
form {
	background-color: #f9f9f9;
	border: 1px solid #ddd;
	border-radius: 8px;
	padding: 20px;
	margin: 20px auto;
	max-width: 600px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	font-family: Arial, sans-serif;
	list-style-type: none; /* Supprime la puce */
}

form h1 {
	text-align: center;
	margin-bottom: 30px;
	font-size: 1.8em;
	color: #333;
	text-transform: uppercase;
}

/* Conteneur principal du formulaire */
.form-container {
	display: grid;
	grid-template-columns: 2fr 2fr; /* Deux colonnes */
	grid-gap: 15px 20px;
	align-items: start; /* Aligne les éléments au début verticalement */
	justify-items: start;
	/* Aligne les éléments au début horizontalement */
	margin-top: 10px; /* Espacement vertical entre les éléments */
}

.form-container2 {
	display: grid;
	grid-template-columns: 4fr 3fr; /* Deux colonnes */
	grid-gap: 15px 20px;
	align-items: start; /* Aligne les éléments au début verticalement */
	justify-items: start;
	/* Aligne les éléments au début horizontalement */
}

/* Alignement des textes */
.form-container, .form-row {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #555; /* Uniformiser la couleur du texte */
}

.no-bullets {
	list-style-type: none; /* Supprime la puce */
	padding: 0; /* Supprime les marges internes */
	margin: 0; /* Supprime les marges externes */
}

/* Chaque ligne de formulaire */
.form-row {
	align-items: center;
	justify-content: flex-start;
	gap: 10px;
}

/* Étiquettes des champs */
.form-row label {
	font-weight: bold;
	white-space: nowrap; /* Empêche les retours automatiques à la ligne */
	overflow: hidden; /* Coupe le texte qui dépasse, si nécessaire */
	text-overflow: ellipsis; /* Ajoute "..." si le texte est trop long */
}

/* Champs de saisie */
.form-row input, .form-row textarea, .form-row select {
	width: 100%;
	padding: 10px;
	font-size: 1em;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Zones de texte (textarea) */
.form-row textarea {
	min-height: 120px;
	resize: vertical;
}

/* Champs focus */
input:focus, textarea:focus, select:focus {
	border-color: #007BFF;
	outline: none;
	box-shadow: 0 0 4px rgba(0, 123, 255, 0.3);
}

.popup-error {
	background-color: #f8d7da;
	color: #721c24;
	padding: 0.5rem;
	border: 1px solid #f5c6cb;
	border-radius: 4px;
	position: absolute;
	top: -10px;
	left: 0;
	z-index: 999;
	width: 100%;
	text-align: left;
}

/* Responsive */
@media ( max-width : 768px) {
	.form-container {
		grid-template-columns: 1fr;
		/* En dessous de 768px, une seule colonne */
	}
	.form-row label {
		text-align: left;
		font-size: 0.9em;
	}
}