<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Connection</title>
<link rel="stylesheet" href="/css/encheres.css" />
<link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
	<div th:replace="~{fragments/fragments-entete::entete}"></div>
	<form th:action="@{/login}" method="post">
		<h1>Connection</h1>
		<ul th:if="${param.error}" class="no-bullets">
			<li>Erreur de saisie</li>
		</ul>
		<div class="form-container">
			<label for="username">Pseudo</label> <input type="text" id="username"
				name="username" />
		</div>
		<div class="form-container">
			<label for="password">Mot de passe</label> <input type="password"
				id="password" name="password" />
		</div>
		<div class="form-container">
			<button type="submit" class="btn go">Connection</button>
		</div>
		<div>
			<div>
				<label>Se souvenir de moi</label> <input type="checkbox"
					name="remember-me" />
			</div>
			<a href="/utilisateurs">Mot de passe oublié</a>
		</div>
		<div class="form-row">
			<a href="/utilisateurs/signin" class="btn go">Créer un compte</a>
		</div>
	</form>
</body>
</html>
