<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Détail Vente</title>
<link rel="stylesheet" href="/css/encheres.css" />
<link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
<div th:replace="~{fragments/fragments-entete::entete}"></div>
<main>
		<h1>Vous avez remporté la vente</h1>
		<form th:action="@{/creerEnchere}" method="post"
		th:object="${enchere}" class="form-container">
		 <input type="hidden" name="articleId" th:value="${article.noArticle}" />
		<ul>
			<div class="form-container">Nom : <span th:text="${article.nomArticle}"></span></div>
			<div class="form-container">Description : <span th:text="${article.description}"></span></div>
			<div class="form-container">Meilleure offre : <span th:text="${derniereEnchere != null ? 'Montant: ' + derniereEnchere.montantEnchere + ', Utilisateur: ' + derniereEnchere.utilisateur : 'Aucune enchère'}"></span></div>
			<div class="form-container">Mise à Prix : <span th:text="${article.miseAPrix}"></span></div>
			<div class="form-container">Retrait : <span th:text="${article.lieuRetrait}"></span></div>
			<div class="form-container">Vendeur : <span th:text="${article.utilisateur}"></span></div>
			<div class="form-container">Tel : <span th:text="${utilisateur.telephone}"></span></div>
			


			</div>
		</ul>
		</form>
</main>  
</body>
</html>