<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail vente remporté</title>
    <link rel="stylesheet" href="/css/encheres.css" />
    <link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
    <div th:replace="~{fragments/fragments-entete::entete}"></div>
    
    <main class="container">
        <div th:if="${success}" class="alert alert-success" role="alert">
            <span th:text="${success}"></span>
        </div>
        
        <div th:if="${error}" class="alert alert-danger" role="alert">
            <span th:text="${error}"></span>
        </div>

        <h1>Vous avez remporté la vente</h1>

        <div class="article-details form-container">
            <h2>Détails de l'article</h2>
            
            <input type="hidden" name="articleId" th:value="${article.noArticle}" />
            
            <div class="detail-row">
                <label>Article :</label>
                <span th:text="${article.nomArticle}"></span>
            </div>
            
            <div class="detail-row">
                <label>Description :</label>
                <span th:text="${article.description}"></span>
            </div>
            
            <div class="detail-row">
                <label>Meilleure offre :</label>
                <span th:text="${montantGagnant + ' points'}"></span>
            </div>
            
            <div class="detail-row">
                <label>Mise à prix :</label>
                <span th:text="${article.miseAPrix + ' points'}"></span>
            </div>

            <div class="detail-row">
                <label>Retrait :</label>
                <span th:text="${article.lieuRetrait != null ? article.lieuRetrait : 'Non spécifié'}"></span>
            </div>

            <div class="detail-row">
                <label>Vendeur :</label>
                <span th:text="${article.utilisateur.pseudo}"></span>
            </div>
            
            <div class="detail-row" th:if="${article.utilisateur.telephone}">
                <label>Tel :</label>
                <span th:text="${article.utilisateur.telephone}"></span>
            </div>
        </div>

        <div class="actions">
            <a th:href="@{/encheres}" class="btn btn-primary">Back</a>
        </div>
    </main>

    <div th:replace="~{fragments/fragments-footer::footer}"></div>
</body>
</html>