<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ENI-Encheres</title>
<link rel="stylesheet" href="/css/encheres.css" />
<link rel="stylesheet" th:href="@{/css/formulaires.css}" />

</head>
<body>
	<div th:replace="~{fragments/fragments-entete::entete}"></div>
	<h1>Liste des enchères</h1>
	
	<div class="form-container">
    <form th:action="@{/encheres}" method="get">
        <label for="nomArticle">Filtres : </label>
        <input id="nomArticle" name="nomArticle" type="text" th:value="${nomArticle}" />
         <label for="noCategorie">Catégorie :</label> 
		<select id="noCategorie" name="noCategorie">
		<option value="" th:text="'Toutes catégories'">Toutes catégories</option>
    	<option th:each="c : ${categoriesSession}" th:value="${c.noCategorie}" th:text="${c.libelle}"></option>
		</select>
        <button type="submit">Rechercher</button>
    </form>
	</div>
	
	<div th:each="article : ${articleSession}">
			<form th:action="@{/encheres}" method="post">
				<input type="hidden" name="nomArticle" th:value="${article.nomArticle}" />
				<button type="submit">
					<h2 th:text="${article.nomArticle}"></h2>
					<p><strong>Prix de vente:</strong> <span th:text="${article.prixVente}"></span></p>
					<p><strong>Date de fin:</strong> <span th:text="${article.dateFinEncheres}"></span></p>
					<p><strong>Utilisateur:</strong> <span th:text="${article.utilisateurId}"></span></p>
				</button>
			</form>
		</div>
</body>
</html>
