<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ENI-Encheres</title>
<link rel="stylesheet" href="/css/encheres.css" />
<link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
	<div th:replace="~{fragments/fragments-entete::entete}"></div>
	<form th:action="@{/utilisateurs/signin}" method="post"
		th:object="${utilisateur}">
		<h1>Création du compte</h1>
		<div class="form-container">
			<div class="form-container">
				<label for="idPseudo">Pseudo : </label> <input id="idPseudo"
					type="text" th:field="*{pseudo}" />
			</div>
			<div class="form-container">
				<label for="idNom">Nom : </label> <input id="idNom" type="text"
					th:field="*{nom}" />
			</div>
			<div class="form-container">
				<label for="idPrenom">Prenom : </label> <input id="idPrenom"
					type="text" th:field="*{prenom}" />
			</div>
			<div class="form-container">
				<label for="idEmail">Email : </label> <input id="idEmail"
					type="email" th:field="*{email}" />
			</div>
			<div class="form-container">
				<label for="idTelephone">Telephone : </label> <input
					id="idTelephone" type="text" th:field="*{telephone}" />
			</div>
			<div class="form-container">
				<label for="idRue">Rue : </label> <input id="idRue" type="text"
					th:field="*{rue}" />
			</div>
			<div class="form-container">
				<label for="idCodePostal">Code Postal : </label> <input
					id="idCodePostal" type="text" th:field="*{codePostal}" />
			</div>
			<div class="form-container">
				<label for="idVille">Ville : </label> <input id="idVille"
					type="text" th:field="*{ville}" />
			</div>
			<div class="form-container">
				<label for="idMotDePasse">Mot de passe : </label> <input
					id="idMotDePasse" type="password" th:field="*{motDePasse}" />
			</div>
		</div>
		<div class="form-row">
			<button type="submit" class="btn go">Creer</button>
			<a href="/encheres"> <a th:href="@{/encheres}" class="btn cncl">Annuler</a>
			</a>
		</div>
	</form>
</body>
</html>