<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Détail Vente</title>
<link rel="stylesheet" href="/css/encheres.css" />
<link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
<div th:replace="~{fragments/fragments-entete::entete}"></div>
<main>
		<h1>Détail vente</h1>
		<form class="form-container">
		<ul>
			<div class="form-container">nom : <span th:text="${article.nomArticle}"></span></div>
			<div class="form-container">description : <span th:text="${article.description}"></span></div>
			<div class="form-container">dateDebutEncheres : <span th:text="${article.dateDebutEncheres}"></span></div>
			<div class="form-container">dateFinEncheres : <span th:text="${article.dateFinEncheres}"></span></div>
			<div class="form-container">miseAPrix : <span th:text="${article.miseAPrix}"></span></div>
			<div class="form-container">prixVente : <span th:text="${article.prixVente}"></span></div>
			<div class="form-container">etatVente : <span th:text="${article.etatVente}"></span></div>
			<div class="form-container">lieuRetrait : <span th:text="${article.lieuRetrait}"></span></div>
			<div class="form-container">categorie : <span th:text="${article.categorie}"></span></div>
			<div class="form-container">utilisateur : <span th:text="${article.utilisateur}"></span></div>
			<div class="form-container">utilisateurId : <span th:text="${article.utilisateurId}"></span></div>
			<div class="form-container">categorieId : <span th:text="${article.categorieId}"></span></div>
		</ul>
		</form>
	<!--
		<form action="/article/details" method="post" th:object="${article}">
			<ul class="flex-outer">
				<li>
					<label for="idDescription">Description : </label>
					<textarea id="idDescription" cols="30" rows="10" th:text="${article.description}" ></textarea>
				</li>
				<li>
					<label for="idCategorie">Catégorie</label>
					<input id="idCategorie" type="text" th:value="${categorie}" />
				</li>
				<li>
					<label for="idMaxEnchere">Meilleure offre : </label>
					<input id="idMaxEnchere" type="text" th:value="${prixVente}" />
				</li>
				<li>
					<label for="idMiseAPrix">Mise à prix : </label>
					<input id="idMiseAPrix" type="number" th:value="${miseAPrix}" />
				<li>
					<label for="idFinEnchere">Fin de l'enchère : </label>
					<input id="idFinEnchere" type="text" th:value="${dateFinEncheres}" />
				</li>
				<li>
					<label for="retrait">Retrait :</label>
					<input id="retrait" type="text" th:value="${lieuRetrait.rue} + ' ' + ${lieuRetrait.code_postal} + ' ' + ${lieuRetrait.ville}" />
				</li>
				<li>
					<label for="idVendeur">Vendeur :</label>
					<input id="idVendeur" type="text" th:value="${utilisateur}" />
				</li>
				<li>
					<label for="proposition">Ma proposition</label>
					<select name="" id="">
						<option th:each="p : ${propositions}" th:value="${a}"></option>
					</select>
					<div class="form-row">
			<button type="submit" class="btn go">Enchérir</button>
		</div>
				</li>
			</ul>
		</form> -->
</main>  

</body>
</html>