<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nouvelle vente</title>
    <link rel="stylesheet" href="/css/encheres.css" />
    <link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
    <div th:replace="~{fragments/fragments-entete::entete}"></div>
    <form action="/article/creer" method="post" th:object="${article}">
    	<h2>Nouvelle vente</h2>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <!-- Section d'erreur globale -->
        <div th:if="${#fields.hasErrors('*')}">
            <h2>Veuillez vérifier vos données</h2>
        </div>

        <!-- Début du formulaire -->
        <div class="form-row">
            <div class="form-container">
                <label for="nomArticle">Article :</label>
                <input id="nomArticle" type="text" th:field="*{nomArticle}" required />
                <div th:replace="~{fragments/fragment-error::frag-error('nomArticle')}"></div>
            </div>
            <div class="form-container">
                <label for="description">Description :</label>
                <textarea id="description" th:field="*{description}" required></textarea>
                <div th:replace="~{fragments/fragment-error::frag-error('description')}"></div>
            </div>
            <div class="form-container">
                <label for="categorie">Catégorie :</label>
                <select id="categorie" th:field="*{categorie}">
                    <option th:each="categorie : ${categories}" th:value="${categorie.noCategorie}" th:text="${categorie.libelle}"></option>
                </select>
            </div>
            <div class="form-container">
			    <label for="image-upload" class="upload-label">Télécharger une image</label>
			    <button type="button" class="btn-upload" id="trigger-upload">Choisir une image</button>
			    <input type="file" id="image-upload" name="image" accept="image/*" th:field="*{image}" style="display: none;">
			    <p id="file-name" class="file-name">Aucun fichier sélectionné</p>
			</div>
            <div class="form-container">
                <label for="miseAPrix">Mise à prix :</label>
                <input type="number" id="miseAPrix" th:field="*{miseAPrix}" min="0" step="1" placeholder="Entrez un prix" />
                <div th:replace="~{fragments/fragment-error::frag-error('miseAPrix')}"></div>
            </div>
            <div class="form-container">
                <label for="dateDebutEncheres">Début des enchères :</label>
                <input id="dateDebutEncheres" type="datetime-local" th:field="*{dateDebutEncheres}" required />
                <div th:replace="~{fragments/fragment-error::frag-error('dateDebutEncheres')}"></div>
            </div>
            <div class="form-container">
                <label for="dateFinEncheres">Fin des enchères :</label>
                <input id="dateFinEncheres" type="datetime-local" th:field="*{dateFinEncheres}" required />
                <div th:replace="~{fragments/fragment-error::frag-error('dateFinEncheres')}"></div>
                <div th:replace="~{fragments/fragment-error::frag-error('dateFinEncheresValid')}"></div>
            </div>
            <label for="lieuRetrait">Retrait :</label>
            <div class="form-container">
                <label for="rue">Rue :</label><input id="rue" type="text" th:field="*{lieuRetrait.rue}" required />
                <div th:replace="~{fragments/fragment-error::frag-error('lieuRetrait.rue')}"></div>
                <label for="code_postal">Code Postal :</label><input id="code_postal" type="text" th:field="*{lieuRetrait.code_postal}" required />
                <div th:replace="~{fragments/fragment-error::frag-error('lieuRetrait.code_postal')}"></div>
                <label for="ville">Ville :</label><input id="ville" type="text" th:field="*{lieuRetrait.ville}" required />
                <div th:replace="~{fragments/fragment-error::frag-error('lieuRetrait.ville')}"></div>
            </div>
        </div>

        <!-- Section des boutons -->
        <div class="form-container">
            <button type="submit" class="btn go">Enregistrer</button>
            <a href="/encheres" class="btn cncl flex-center">Annuler</a>
        </div>
    </form>
    <script th:src="@{/js/upload.js}"></script>
</body>
</html>
