<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Les objets sont nos amis</title>
	<link rel="stylesheet" href="/css/encheres.css" />
	<link rel="stylesheet" th:href="@{/css/formulaires.css}" />
</head>
<body>
	<div th:replace="~{fragments/fragments-entete::entete}"></div>
    <form th:action="@{/encheres}" method="get">
    	<h2>Liste des enchères</h2>
    	<div class="form-container">
			<label for="nomArticle">Filtres : </label>
		</div>
		<div class="form-container">		
			<div class="form-row">
        		<div class="form-row">	
        			<input id="nomArticle" name="nomArticle" type="text" th:value="${nomArticle}" />
        		</div>
        		<div class="form-container3">
         			<label for="noCategorie">Catégorie :</label> 
					<select id="noCategorie" name="noCategorie">
						<option value="" th:text="'Toutes catégories'">Toutes catégories</option>
    					<option th:each="c : ${categoriesSession}" th:value="${c.noCategorie}" th:text="${c.libelle}"></option>
					</select>
				</div>		
				<div class="form-container" sec:authorize="isAuthenticated()" >
    				<div class="form-row">
        				<label> <input  type="checkbox" class="checkbox-round" name="achats" /> Achats </label>
        				<label> <input type="checkbox" class="checkbox-square" name="encheresOuvertes" /> enchères ouvertes </label>
        				<label> <input type="checkbox" class="checkbox-square" name="mesEncheresEnCours" /> mes enchères en cours </label>
        				<label> <input type="checkbox" class="checkbox-square" name="mesEncheresRemportees" /> mes enchères remportées </label>
					</div>
					<div class="form-row">
        				<label> <input type="checkbox" class="checkbox-round" name="mesVentes" /> Lister mes ventes </label>
        				<label> <input type="checkbox" class="checkbox-square" name="mesVentesEnCours" /> mes ventes en cours </label>
        				<label> <input type="checkbox" class="checkbox-square" name="ventesNonDebutees" /> ventes non débutées </label>
        				<label> <input type="checkbox" class="checkbox-square" name="ventesTerminees" /> ventes terminées </label>
					</div>
				</div>
			</div>
			<div class="form-row">
        		<button type="submit" class="btn go">Rechercher</button>
        	</div>
       	</div>
    </form>
	<div class="articles-container">
		<div th:each="article : ${articleSession}" class="article-card">
			<form th:action="@{/encheres}" method="post">
				<input type="hidden" name="nomArticle" th:value="${article.nomArticle}" />
				<button type="submit">
				<h2 th:text="${article.nomArticle}"></h2>
				<p><strong>Prix :</strong> <span th:text="${article.prixVente}"></span></p>
				<p><strong>Date de fin :</strong> <span th:text="${#temporals.format(article.dateDebutEncheres, 'dd/MM/yyyy HH:mm')}"></span></p>
				<p><strong>Vendeur :</strong> <span th:text="${article.utilisateur.pseudo}"></span></p>
				</button>
			</form>
		</div>
	</div>
	<!-- -->
	<th:block sec:authorize="isAuthenticated()">
        <script th:src="@{/js/checkbox.js}"></script>  <!-- Votre script ici -->
    </th:block>
</body>
</html>
